html {
  font-size:calc(1em * 0.875); 
}
body {
 font-family: sans-serif;
  font-size: calc(1em * 0.875);
  font-size: 100%;
  position: absolute;
  left: 15px;
  right: 230px;
  position: absolute;
  left: 250px;
}
#wiki{
 top: 21px;
 position: absolute;
right: -140px;
width: 3.125em;
height: 3.125em;
}
#wiki1{
position: absolute;
top:25px;
right: -76px;
}
#wiki2{
position: absolute;
top:55px;
right: -79px;
}

#search{
  height: 26px;
  width: 430px;
  position: absolute;
right: 55px;
top: 33px;
}
#button{
  height: 32px;
  width: 57px;
  position: absolute;
  right: 500px;
  top:33px;
}

#title{
font-family: sans-serif;
z-index: 1;
font-size: 150%;
height: 30px;
margin-top: 100px;
}

.sidepart{
  position: absolute;
  right: -190px;
  top: 105px;
  width: 91px;
}
#tip{
  width: 100px;
  font-size: 16px;
}
.linkssideend{
  width: 1opx;
}

.underline{
border-bottom: 1px solid #a2a9b1;
font-size: calc(1em * 0.875);
font-size: 100%;
}

#div1{
width: 630px;
}

#div2{
background-color: #f8f9fa;
font-size: 95%;
border: 1px solid #a2a9b1;
width: 130px;
}

#table1{
border: 1px solid black;
display: inline;
width: 252px;
height: 525px;
position: absolute;
left: 0px;
}
#pic1{
width: 250px;
height: 227px;
text-align: center;
}
#headtable{
  color: black;
}
.table1background{
  background: #90EE90; 
  color: #0645ad;
  text-align: center;
  margin: 3px;
}
.table1text{
  text-align: center;
}
 #line1{
   margin-top: 230px;
}

#pic2{
border: 1px solid black;
width: 250px;
height: 250px;
left: 0;
top: 675px;
position: absolute;
}

#pic3{
border: 1px solid black;
width: 250px;
height: 250px;
margin-right: 80px;
margin-left: 150px;
}
.gallery{
border: 1px solid black;
width:130px;
height: 130px;
}
